img {
  width: 150px;
  float: left;
}

a {
  text-align: center;
  color: white;
}

h1 {
  margin: 40px 20px 40px 0;
  text-align: right;
  line-height: 6;
  padding-right: 10px;
}

.navbar {
  position: relative;
  background: #a5f9ff;
}

.barLeft {
  border-left: 1px solid black;
}

.barRight {
  border-right: 1px solid black;
}

.navbar-header {
  height: 75px;
}

.container {
  margin: 0 auto;
  width: 75%;
}

.navbar-collapse {
  margin: 0;
  padding: 15px;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.circles {
  background: blue;
  border-radius: 50%;
  margin: 4.16%;
}

#strip {
  margin: 100px auto 0 auto;
  border: 1px solid black;
}

#myBrand {
  text-align: center;
  width: 150px;
  height: 150px;
  line-height: 75px;
  padding: 30px;
  margin: 0 auto;
  border: 1px solid black;
}
